/* Footer Styles */


footer {
    padding: 30px 0px 0px 0px;
    border-top: 10px #a00000 solid;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    font-size: 8px;
    margin-bottom: -10px;
}